.login {
    @include container;
    background-color: $color-sand;
    padding: 3% 25% 3% 25%;
    align-items: center;
    @media (max-width: 1024px) {
        margin: auto;
        padding: 10%;
    }
    @media (max-device-width: 480px) {
        padding: 3% 1% 10% 1%;
    }
    &__txt {
        @include sous_item;
        @include column;
        min-width: 380px;
        text-align: center;
        margin-right: 2%;
        @media (max-device-width: 450px) {
            margin-right: 0%;
            min-width: 340px;
        }
        & h3 {
            @include amerika--gold;
            font-size: 1.8rem;
            margin-bottom: 5px;
        }
        & p {
            color: $color-grey;
            font-size: 1.1rem;
        }
    }
}
.login__form {
    @include sous_item;
    @include column;
    &--block {
        @include sous_item;
    }
    &--input {
        @include alice--grey-dark;
        background-color: $color-sand;
        font-size: 1rem;
        padding: 10px;
        margin: 5px;
        border: 1px solid $color-dark;
        border-radius: 4px;
        text-align: center;
        outline: none;
        width: 100%;
        &:focus {
            border: 2px solid $color-dark;
        }
    }
    &--submit {
        @include alice--grey;
        background-color: $color-dark;
        font-size: 1rem;
        padding: 10px;
        margin: 5px;
        width: 100%;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        &:hover {
            transform: scale(1.05);
        }
    }
    & #email {
        &:not(:focus):invalid {
            transition: border 500ms;
            border: 2px solid #ad0000d2;
            animation: headshake 100ms cubic-bezier(.4,.1,.6,.9) 2;
        }
    }
}
.login__img {
    @include item;
    @include column;
    margin-left: 2%;
    @media (max-width: 1024px) {
        display: none;
    }
    & img {
        border-radius: 230px 230px 8px 8px;
    }
}