
.container__txt-img {
    @include container;
}
.block {
    @include item;
    align-items: flex-end;
    justify-content: center;
    padding: 2% 15% 3% 15%;
    @media (max-width: 1024px) {
        text-align: center;
        align-items: center;
    }
    &__txt {
        @include item;
        @include column;
        @include flex-grow;
        border-radius: 8px;
        padding: 1% 3% 0% 3%;
        max-width: 500px;
        min-width: 450px;
        @media (max-width: 1024px) {
            align-items: center;
            justify-content: center;
        }
        &--title {
            @include sous_item;
            @include amerika--gold;
            font-size: 2.3rem;
            @media (max-width: 1024px) {
                @include column;
                align-items: center;
            }
        }
        &--subtitle {
            @include sous_item;
            font-family: "aliceregular";
            font-size: 1.3rem;
            margin: 10px 0px 20px 0px;
            @media (max-width: 1024px) {
                @include column;
                align-items: center;
            }
        }
        &--underline {
            border-bottom: 3px solid $color-gold;
            width: 50%;
        }
        &--txt {
            font-size: 1.2rem;
            margin-bottom: 0px;
        }
        &--btn {
            @include sous_item;
            margin-top: 5px;
            @media (max-width: 1024px) {
                @include column;
                align-items: center;
            }
            & a {
                @include alice--white;
                font-size: 1.2rem;
                text-decoration: none;
            }
            & p {
                background-color: $color-sand;
                padding: 10px 20px 10px 20px;
                border-radius: 4px;
                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }
    &__img {
        @include item;
        @include column;
        max-width: 450px;
        @media (max-width: 1024px) {
            @include display__off;
        }
        & img {
            border-radius: 215px 215px 8px 8px;
        }
    }
}