
@mixin title__section {
    & h3 {
        @include amerika--gold;
        font-size: 2.2rem;
        margin: 50px 0px 5px 0px;
        text-align: center;
    }
    & h4 {
        font-family: "aliceregular";
        font-size: 0.9rem;
        margin-top: 1px;
        text-align: center;
    }
}