@font-face {
    font-family: "amerikaregular";
    src: url("../police/Amerika/AMERIKA_-webfont.eot");
    src: url("../police/Amerika/AMERIKA_-webfont.eot?#iefix")
        format("embedded-opentype"),
      url("../police/Amerika/AMERIKA_-webfont.woff2") format("woff2"),
      url("../police/Amerika/AMERIKA_-webfont.woff") format("woff"),
      url("../police/Amerika/AMERIKA_-webfont.ttf") format("truetype"),
      url("../police/Amerika/AMERIKA_-webfont.svg#amerikaregular") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bodonixtregular';
    src: url('../police/BodoniXT/BodoniXT-webfont.eot');
    src: url('../police/BodoniXT/BodoniXT-webfont.eot?#iefix') format('embedded-opentype'),
         url('../police/BodoniXT/BodoniXT-webfont.woff2') format('woff2'),
         url('../police/BodoniXT/BodoniXT-webfont.woff') format('woff'),
         url('../police/BodoniXT/BodoniXT-webfont.ttf') format('truetype'),
         url('../police/BodoniXT/BodoniXT-webfont.svg#bodonixtregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'aliceregular';
    src: url('../police/Alice/Alice-Regular-webfont.eot');
    src: url('../police/Alice/Alice-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../police/Alice/Alice-Regular-webfont.woff2') format('woff2'),
         url('../police/Alice/Alice-Regular-webfont.woff') format('woff'),
         url('../police/Alice/Alice-Regular-webfont.ttf') format('truetype'),
         url('../police/Alice/Alice-Regular-webfont.svg#aliceregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'redressedregular';
    src: url('../police/Redressed/Redressed-webfont.eot');
    src: url('../police/Redressed/Redressed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../police/Redressed/Redressed-webfont.woff2') format('woff2'),
         url('../police/Redressed/Redressed-webfont.woff') format('woff'),
         url('../police/Redressed/Redressed-webfont.ttf') format('truetype'),
         url('../police/Redressed/Redressed-webfont.svg#redressedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

