
//section 1 head/nav
.blog {
    @include container;
    background-color: $color-brown;
    padding: 0% 15% 0% 15%;
    &__head {
        @include item;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 1024px) {
            @include column;
            align-items: center;
            text-align: center;
            justify-content: space-between;
        }
        &--title {
            @include item;
            @include flex-grow;
            justify-content: center;
            margin-right: 15%;
            @media (max-width: 1024px) {
                @include marge__off;
            }
            & h2 {
                @include bodon--grey-dark;
                font-size: 2rem;
            }
        }
        &--nav {
            @include item;
            @include flex-grow;
            margin-left: 15%;
            justify-content: space-between;
            list-style: none;
            border-bottom: 2px solid grey;
            @media (max-width: 1024px) {
                @include marge__off;
            }
            & a {
                @include alice--grey-dark;
                text-decoration: none;
            }
        }
    }
}