//wrapper
.body__index::-webkit-scrollbar {
        display: none;
}
.wrapper__body {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}
.wrapper
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
    &--background {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -1;
        transform: translateZ(-10px) scale(2);
        top: 120px;
        left: -30px;
        @media (max-width: 1024px) {
            top: 180px;
        }
    }
    &--title {
        @include amerika--gold;
        font-size: 7rem;
        text-shadow: 0 0 5px black;
    }  
}

.home__section1--container {
    @include container;
    padding: 0% 20% 15% 20%;
    justify-content: center;
}
.home__section1 {
    @include item;
    @include column;
    background-color: $color-dark;
    border-radius: 8px;
    padding: 2% 5% 2% 5%;
    max-width: 900px;
    min-width: 600px;
    border: 3px solid $color-gold;
    &__id {
        @include sous_item;
        &--title {
            & h2 {
            @include amerika--gold;
            font-size: 2.3rem;
            margin-bottom: 2%;
            }
            & h3 {
                font-family: "aliceregular";
                font-size: 1.2rem;
                margin: 0% 0% 3% 0%;
            }
        }
    }   
    &--img {
        margin-left: 5%;
        float: right; 
        max-width: 30%;
        border-radius: 150px 150px 8px 8px;
    }
    &--underline {
        border-bottom: 3px solid $color-gold;
        width: 50%;
        margin-bottom: 5%;
    }
    &--txt {
        font-size: 1.3rem;
        margin-bottom: 2%;
        & a {
            text-decoration: none;
            color: $color-gold;
            font-size: 1.7rem;
            & img {
                width: 2.7%;
                justify-content: flex-end;
            }
        }
    }
    &--devnote {
        font-size: .8rem;
    }
}

//section 2
.index__section2 {
    @include container;
    @include column;
    margin: 5% 0% 5% 0%;
    &__title {
        @include sous_item;
        @include column;
        @include title__section;
        margin: 1% 0% 3% 0%;
    }
    &__img-part {
        @include container;
        margin: 0% 20% 0% 20%;
        @media (max-width: 1024px) {
            margin-bottom: 7%;
        }
    }
    &__block {
        @include item;
        margin: 0% 30% 0% 30;
        @media (max-width: 1024px) {
            @include column;
            @include marge__off;
            align-items: center;
        }
        &__left {
            @include item;
            @include column;
            align-items: flex-end;
            margin-right: 20px;
            @media (max-width: 1024px) {
                margin: 0 0 20px 0;
                padding: 0%;
            }
        }
        &__right {
            @include item;
            @include column;
            @media (max-width: 1024px) {
                @include marge__off;
            }
            &--up {
                @include sous_item;
                margin-bottom: 20px;
                & .index__section2__block__card:nth-child(1) {
                    margin-right: 20px
                }      
            }
            &--down {
                @include sous_item;
                @include column;
            }
        }
        &__card {
            @include sous_item;
            @include column;
            &--img {
                @include sous_item;
                @include column;
            }
            &--txt {
                @include sous_item;
                @include column;
                background-color: #685A46;
                text-align: center;
                & a {
                    @include alice--white;
                    text-decoration: none;
                }
            }
        }
    }
}

//section3
.index__section3 {
    @include container;
    @include column;
    background-color: $color-brown;
    &__title {
        @include sous_item;
        @include column;
        @include title__section;
        margin: 1% 0% 3% 0%;
    }
}

//section4
.index__section4 {
    @include container;
    @include column;
    margin: 2% 20% 5% 20%;
    & h3 {
        @include amerika--gold;
        font-size: 2.2rem;
        margin: 50px 0px 50px 0px;
        text-align: center;
    }
    & h4 {
        font-family: "aliceregular";
        font-size: 1rem;
        text-align: center;
    }
}