
.home__section1--container {
    @include container;
    background-image: url(../img/img-background.jpg);
    background-attachment: fixed;
    padding: 5% 20% 5% 20%;
    justify-content: center;
}
.home__section1 {
    @include item;
    @include column;
    background-color: $color-dark;
    border-radius: 8px;
    padding: 2% 5% 2% 5%;
    max-width: 900px;
    min-width: 600px;
    &__id {
        @include sous_item;
        &--title {
            & h2 {
            @include amerika--gold;
            font-size: 2.3rem;
            margin-bottom: 2%;
            }
            & h3 {
                font-family: "aliceregular";
                font-size: 1.2rem;
                margin: 0% 0% 3% 0%;
            }
        }
    }   
    &--img {
        margin-left: 5%;
        float: right; 
        max-width: 30%;
        border-radius: 150px 150px 8px 8px;
    }
    &--underline {
        border-bottom: 3px solid $color-gold;
        width: 50%;
        margin-bottom: 5%;
    }
    &--txt {
        font-size: 1.3rem;
        margin-bottom: 2%;
        & a {
            text-decoration: none;
            color: $color-gold;
            font-size: 1.7rem;
            & img {
                width: 2.7%;
                justify-content: flex-end;
            }
        }
    }
    &--devnote {
        font-size: .8rem;
    }
}

//section 2
.index__section2 {
    @include container;
    @include column;
    margin-bottom: 5%;
    &__title {
        @include sous_item;
        @include column;
        @include title__section;
        margin: 1% 0% 3% 0%;
    }
    &__img-part {
        @include container;
        margin: 0% 20% 0% 20%;
    }
    &__block {
        @include item;
        margin: 0% 30% 0% 30;
        &__left {
            @include sous_item;
            @include column;
            align-items: flex-end;
            margin-right: 20px;
        }
        &__right {
            @include sous_item;
            @include column;
            &--up {
                @include sous_item;
                margin-bottom: 20px;
                & .index__section2__block__card:nth-child(1) {
                    margin-right: 20px
                }      
            }
            &--down {
                @include sous_item;
                @include column;
            }
        }
        &__card {
            @include sous_item;
            @include column;
            &--img {
                @include sous_item;
                @include column;
            }
            &--txt {
                @include sous_item;
                @include column;
                background-color: #685A46;
                text-align: center;
                & a {
                    @include alice--white;
                    text-decoration: none;
                }
            }
        }
    }
}

//section3
.index__section3 {
    @include container;
    @include column;
    background-color: $color-brown;
    &__title {
        @include sous_item;
        @include column;
        @include title__section;
        margin: 1% 0% 3% 0%;
    }
}

//section4
.index__section4 {
    @include container;
    @include column;
    margin: 2% 20% 5% 20%;
    & h3 {
        @include amerika--gold;
        font-size: 2.2rem;
        margin: 50px 0px 50px 0px;
        text-align: center;
    }
    & h4 {
        font-family: "aliceregular";
        font-size: 1rem;
        text-align: center;
    }
}