//block
@mixin column {
    flex-direction: column;
}
@mixin flex-grow ($grow: $grow1){
    flex: $grow;
}

//mixin police d'ecriture
@import "../base/police";

@mixin alice--white {
    font-family: "aliceregular";
    color: $color-white;
}
@mixin alice--grey {
    font-family: "aliceregular";
    color: $color-grey;
}
@mixin alice--grey-dark {
    font-family: "aliceregular";
    color: $color-grey-dark;
}
@mixin amerika--gold {
    font-family: "amerikaregular";
    color: $color-gold;
}
@mixin redressed--grey-dark {
    font-family: "redressedregular";
    color: $color-grey-dark;
}
@mixin bodon--grey-dark {
    font-family: "bodonixtregular";
    color: $color-grey-dark;
}
@mixin bodon--grey {
    font-family: "bodonixtregular";
    color: $color-grey;
}

//media 
@mixin marge__off {
    margin: 0;
    padding: 0;
}
@mixin display__off {
    display: none;
}
