
//couleur
$color-gold: #ac9857;
$color-dark: #242729;
$color-grey: #C8C3BC;
$color-grey-dark: #A8A095;
$color-white: #E8E6E3;
$color-sand:  #685A46;
$color-brown: #382508;
$color-wine: #2F1008;

//flex-grow
$grow1: 1;
$grow2: 2;
$grow3: 3;
$grow4: 4;